@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
.contenedor {
	min-height: 50vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin:  60px 60px 60px 60px;
	border-radius: 10px;
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,74,93,1) 50%, rgba(68,198,179,1) 100%);
	transition: .3s ease all;
	box-shadow: 0 0 20px rgba(14, 14, 19, 0.618);
}
.contenedor:hover{
	transition: .3s ease all;
}



.logoContact > img{
	width: 70px;
	margin-top: -130px;
	/* margin-bottom: -20px; */
	transition: .3s ease all;
	box-shadow: 0 0 20px rgba(14, 14, 19, 0.618);
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.216);
}
.logoContact > img:hover{
	background: rgba(0, 0, 0, 0.216);
	width: 120px;
}

.formulario {
	min-width: 400px;
	margin: 50px 50px 50px 50px;
	/* margin-bottom: 50px; */
	/* background: url(../img/log1.png); */
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.ButtonRegresar{
	margin-top: 80px;
	margin-left: -85%;
	border-radius: 10%;
	padding: 5px;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.693);
	color: white;
	background: rgba(34, 192, 195, 0.778);
	transition: .3s ease all;
}
.ButtonRegresar:hover{
	background-color: rgba(45,74,93,1) ;
}
.formulario > div {
	margin-bottom: 20px;
	
}
.contentSex{
	margin-left: 70%;
	padding: 5px;
}
.contentPais{
	margin-left: 70%;
}
.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
	
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.693);
	transition: .3s ease all;
}
.formulario input:hover{
	background: rgba(0, 0, 0, 0.092);
	
}
.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: rgba(34, 192, 195, 0.778);
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.693);
}

.formulario button[type="submit"]:hover {
	background: rgba(45,74,93,1) 50%;
}

.formulario .exito {
	text-align: center;
	font-size: 16px;
	padding-top: 20px;
	background-color: rgba(65, 59, 242, 0.713) 50%;
}

.formulario input[type="radio"] {
	width: auto;
}
.formulario textarea:hover{
	background: rgba(0, 0, 0, 0.092);
}
/* 
.contentRedes{
	 background: rgba(0, 0, 0, 0.216); 
} */
.redes{
	display: flex;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.216);
	margin-top: 50px;
	margin-bottom: 25px;
	width: 100px;
	transition: .5s ease all;
}
.redes:hover{
	border-radius:50%;
	background: #000;
	width: 120px;
}