.div{
    display: flex;
    background: url(../img/landin.png)  repeat no-repeat 10% 50%;
    background-size: cover;
    flex-direction: column;
    padding-top: 5rem;
    padding-right: -45rem;
    height: 140vh;
    width: 140vh;
}
.div:hover{
    transform: translateY(-10px);
}
.button1{
    margin-top: 450px;
    margin-left: 450px;
    margin-bottom: 800px;
    transition: all 0.25s;
    border-radius: 9px;
    text-decoration: none;
    background-color: transparent;
    color: #0c0c0c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    border: 3px solid;
    padding: 7px 30px;
}
.button1:hover{
    color: #b820208e;
    background: url(https://thumbs.dreamstime.com/b/fondo-de-corazones-coloridos-al-estilo-las-acuarelas-color-p%C3%A1lido-en-acuarela-con-muchos-s%C3%ADmbolos-del-coraz%C3%B3n-dispuestos-azar-161320573.jpg);
    transform: translateY(-30px);
   

}