.inp{
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.693);
   }
   .button{
       border-radius: 5px;
       box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.693);
   }
   .button:hover{
       background: #17c9fa;
   }

nav{
    border-radius: 5px; 
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.281);
}   